/*Font for my name*/
@font-face {
    font-family: name;
    src: url(fonts/Rubik-BlackItalic.ttf)
}
/*font for small text*/
@font-face {
    font-family: rubik;
    src: url(fonts/Rubik-Light.ttf);
}
/*font for headers*/
@font-face {
    font-family: rubik-bold;
    src: url(fonts/Rubik-Bold.ttf)
}
/*Main body*/
body, html {
    background-color: rgb(2, 2, 49);
    color: rgb(255, 255, 255);
    height: 100%;
    flex: 1;
    margin: 0;
    padding: 0;
    font-family: rubik;
}
/*List Styling*/
ul {
    list-style: none;
    padding: 0;
}
/*Main Container*/
#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    height: auto;
    max-width: 600px;
    padding: 0px;
    order: 1px solid rgb(255, 83, 83);
}
/*Name and Student info*/
#header {
    order: 1px solid rgb(255, 83, 83);
    display: flex;
    flex-direction: column;
}
/*Every thing else than the name and student info*/
#mini-container {
    padding-left: 5px;
}
/*Name*/
.my-name {
    font-family: name;
    font-size: 50px;
    order: 1px solid rgb(83, 255, 126);
    max-height: 110px;
}
/*Student info*/
.student {
    order: 1px solid rgb(255, 83, 241);
}
/*Intro paragraph*/
.introduction {
    order: 1px solid rgb(83, 244, 255);
    margin-bottom: 10px;
}
/*Main project container*/
.Projects {
    order: 1px solid rgb(255, 238, 83);
    margin-bottom: 10px;
}
/*Project section Header*/
.Projects > h2 {
    font-family: rubik-bold;
}
/*Project list section*/
.Projects > ul {
    margin-left: 30px;
}
/*Project list description*/
.Projects > ul p {
    color: rgba(255, 255, 255, 0.705);
}

/*Titles for the different projects*/
.title {
    order: 1px solid yellow;
    max-width: fit-content;
    font-family: rubik-bold;
}
/*Resume download link*/
.resume{
    order: 1px solid rgb(255, 83, 255);
    margin-bottom: 10px;
}
/*Contact info*/
.contact-information{
    order: 1px solid rgb(255, 83, 83);
    margin-bottom: 10px;
}

