/*Font for my name*/
@font-face {
    font-family: name;
    src: url(fonts/Rubik-BlackItalic.ttf)
}
/*font for small text*/
@font-face {
    font-family: rubik;
    src: url(fonts/Rubik-Light.ttf);
}
/*font for headers*/
@font-face {
    font-family: rubik-bold;
    src: url(fonts/Rubik-Bold.ttf)
}
/*---------------------------------------------------------------*/
/*Main body*/
html, body {
    background-color: rgba(0, 0, 26, 0.815);
    color: rgb(255, 255, 255);
    height: 100%;
    flex: 1;
    margin: 0;
    padding: 0;
    font-family: rubik;
}
/*List Styling*/
ul {
    list-style: none;
    padding: 0;
}
p {
    color: rgba(255, 255, 255, 0.705);
}
/*---------------------------------------------------------------*/
/*Main Container*/
#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    height: auto;
    max-width: 600px;
    padding: 0px;
    order: 1px solid rgb(255, 83, 83);
}
/*---------------------------------------------------------------*/
/*Name and Student info*/
#header {
    order: 1px solid rgb(255, 83, 83);
    display: flex;
    flex-direction: column;
}
/*Every thing else than the name and student info*/
#mini-container {
    padding-left: 5px;
}
/*---------------------------------------------------------------*/
/*Name*/
.my-name {
    font-family: name;
    font-size: 50px;
    order: 1px solid rgb(83, 255, 126);
    max-height: 110px;
}
/*---------------------------------------------------------------*/
/*Student info*/
.student {
    order: 1px solid rgb(255, 83, 241);
}
/*---------------------------------------------------------------*/
/*Intro paragraph*/
.introduction {
    order: 1px solid rgb(83, 244, 255);
    margin-bottom: 10px;
}
/*---------------------------------------------------------------*/
/*Main project container*/
.Projects {
    order: 1px solid rgb(255, 238, 83);
    margin-bottom: 10px;
}
/*Project section Header*/
.Projects > h2 {
    font-family: rubik-bold;
}
/*Project list section*/
.Projects > ul {
    margin-left: 30px;
}
/*Project list description*/
.Projects > ul p {
    color: rgba(255, 255, 255, 0.705);
}

/*Titles for the different projects*/
.title {
    order: 1px solid yellow;
    max-width: fit-content;
    font-family: rubik-bold;
}

.section1 {
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.section1:hover {
    background-color: rgba(41, 41, 80, 0.815); 
}
.section2 {
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.section2:hover {
    background-color: rgba(41, 41, 80, 0.815); 
}
.section3 {
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.section3:hover {
    background-color: rgba(41, 41, 80, 0.815);
}
.section4 {
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.section4:hover {
    background-color: rgba(41, 41, 80, 0.815);
}
/*---------------------------------------------------------------*/
/*Contact info Section*/
.contact-information{
    
}

.contact-info-list {
    list-style: none;
    padding: 0;
}

.contact-info-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.list-prefix {
    color: rgba(255, 255, 255, 0.705);
}

.contact-info-list a {
    text-decoration: none;
    color: #007bff;
}
/*---------------------------------------------------------------*/
.horizontal-line1 {
    position: relative;
    height: 2px; /* Adjust line height as needed */
    width: 300px; /* Adjust line width as needed */
    background-color: #242323; /* Line color */
    margin: auto; /* Center the line horizontally */
}
.horizontal-line2 {
    position: relative;
    height: 2px; /* Adjust line height as needed */
    width: 370px; /* Adjust line width as needed */
    background-color: #242323; /* Line color */
    margin: auto; /* Center the line horizontally */
}
.horizontal-line3 {
    position: relative;
    height: 2px; /* Adjust line height as needed */
    width: 370px; /* Adjust line width as needed */
    background-color: #242323; /* Line color */
    margin: auto; /* Center the line horizontally */
}
.horizontal-line4 {
    position: relative;
    height: 2px; /* Adjust line height as needed */
    width: 430px; /* Adjust line width as needed */
    background-color: #242323; /* Line color */
    margin: auto; /* Center the line horizontally */
}
.horizontal-line5 {
    position: relative;
    height: 2px; /* Adjust line height as needed */
    width: 330px; /* Adjust line width as needed */
    background-color: #242323; /* Line color */
    margin: auto; /* Center the line horizontally */
}

.horizontal-line::before {
    content: '';
    position: absolute;
    left: -10px; /* Adjust the offset from the left as needed */
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Adjust the before element's width as needed */
    height: 20px; /* Adjust the before element's height as needed */
}
#footer p {
    color:#494949;
}
a:hover {
    text-decoration: underline;
}